$font-base: 'Open Sans', sans-serif;
$font-title: 'Montserrat', sans-serif;

$color-white: #ffffff;
$color-gray: #737373;
$color-black: #000000;
$color-green: #029f59;
$color-border: #e5e5e5;
$color-footer: #254741;

$header-padding-x: 88px;
$header-padding-y: 24px;
$menu-gap: 24px;
$logo-menu-gap: 80px;